
/*Variables*/
:root {
    --text-color: #adadad;
    --bg-color: #3D3D3D;
    --highlight-color: #4D4D4D;
    --inset-color:  #2D2D2D;
    --bright: #00cec9;
}

body {
    background-color: var(--bg-color);
    font-family: AvantGarde, sans-serif;
    color: #0A0A0A;
    max-width: 800px;
    border-left: 2px solid var(--highlight-color);
    border-right: 2px solid var(--highlight-color);
    margin: auto;
    margin-bottom: 0px;
    height: 100%;
    min-height: 100%;
}

html {
    background-color: var(--inset-color);
    height: 100%;
}

/*set default color for text*/
.text {
    color: var(--text-color);
}

/*format title*/
h1 {
    margin: 5px;
    padding: 5px;
    color: var(--text-color);
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    jusify-content: space-evenly;
}

#submit {
    width: 790px;
}

/*Horizontal bar styles*/
hr {
    border-color: var(--text-color);
}

/*Stylize input class*/
.input {
    color: var(--text-color);
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
    user-select: none;
}

input[type="button"]:hover {
  border: 2px solid #00cec9;
}

/*General input styling*/
input {
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 5px;
    transition: 1s;
}

/*Add styles to file input box*/
input[type="file"]::file-selector-button {
  border-radius: 0.2em;
  background-color: var(--bg-color);
  transition: 1s;
  color: var(--text-color);
}

input[type="file"]::file-selector-button:hover {
  background-color: var(--highlight-color);
  border: 2px solid #00cec9;
}

/*Change selected box colors*/
input:focus{
    outline: 0px solid #00cec9;     /* oranges! yey */
  }

/* Hide the tab content by default */
.tabcontent {
  display: none;
}

/*set download to visible by default*/
#tab1 {
    display:flex;
}

/* Create an active/current tablink class */
.tablinks.active {
    background-color: var(--inset-color);
    border-style: inset;
}

.tabcontent {
    margin: 5px;
    padding: 5px;
    flex-direction: column;
}

/*Tab button Stylings*/
.tablinks {
    transition: 0s;
    border-style: outset;
}


